html, body {
    padding: 0;
    margin: 0;
}
* {
    font-family: 'Open Sans', sans-serif;
}
.pointer {
    cursor: pointer;
}
nav {
    position: fixed;
    background-color: #32bd9a;
    opacity: 0.95;
    box-shadow: 0 0 5px #00000070;
}
.brand {
    margin-left: 10px;
}
main {
    padding-top: 60px;
}
iframe {
    width: 100%;
}