.container {
    width: 80vw;
    margin: 0 10vw;
}
.img {
    background-image: url("../images/com.jpg");
    background-size: cover;
    background-position: center;
}
a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5ee69b;
}
a.inUse {
    background: #e75c4a;
}

@media (max-width: 500px) {
    .container {
        width: calc(100vw - 20px);
        margin: 0 10px;
    }
}